.App {
  text-align: center;
  padding-top:60px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60px;
  position: absolute;
  right: 0px;
  left: 0px;
  top:0px;
}

.App-name {
  height:100%;
  display:flex;
  align-items: center;
}

.App-logo {
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  padding-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
