@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

html, body {
  margin:0px;
  padding:0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Default-paddings {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (max-width: 768px) {
  .hidden-xs {
    display:none;
  }
}

@media only screen and (min-width: 769px) {
  .hidden-lg-md {
    display:none;
  }
}




